/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    background-color: darkslategray;
    
 
}



.container{
    
    //background-color: antiquewhite;
}

#mainPage{
    margin-top: 70px;
    background-color: white;
    
}

.footer {
  position: static;
  
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 200px;
  background-color: #f5f5f5;
  background-color: black;
    z-index: 4;
}

.footer .row{
	margin-top: 20px;
    padding-top: 20px;
	color: white;
}

.footer .contact{
	font-size: 20px;
	line-height: 75%;
	
}

.footer .contact + p{
	font-size: 50px;
}

.container .text-muted {
  margin: 20px 0;
  text-align:center;
}

.breadcrumb {
	margin-top: 20px;
}

.navbar {
	background-color: black;
	
}

.myNavbar div a:link{
	color: white;
}

.copyright {
	margin-top:20px;
	text-align: center;
}

.myNavbar a:visited{
	color: white;
}

.myNavbar li a:hover{
	color: black;
}

.navbar-brand:hover{
	color: white;
}

.panel-shadow{
    
    box-shadow: 3px 3px grey;
}

.panel .panel-heading {
	background-color: slategray;
	color: white;
}

.ads {
    text-align: center;
}


.top-image {
	width: 100%;
	min-height: 100px;
	background-color: steelblue;
}	

.jumbotron{
	
	text-align: center;
    
}

.jumbotron h1{
	margin-top: 200px;
    
	
}

.innerpanel{
    
    border-color: gainsboro;
}

.myGallery{
    text-align: center;
}

.floating-box {
    display: inline-block;
    margin: 5px;
}

/* Package Detail Web Page */
.package-header{
    
}

.package-detail > div{
    
}

.package-header > div{
    display: inline-block;
    
}

.package-info{
    padding: 10px 10px 10px 10px;
    background-color: aliceblue;
    width: 270px;
    height: inherit;
    vertical-align: top;
   
}

.package-description{
    margin: 2 0 2 0;
    
}

#mainPageCarousel img{
    width:auto;
    height: auto;
}

#package-galleries img{
    width: 50px;    
}

#package-image img{
    height: 480px;
    max-width: 700px;
    padding: 5px 5px 5px 5px;
    
}

#package-image{
    text-align: center;
    
}

.highlight{
    margin: 10px 20% 10px 20%;
    background-color: beige;
}

ul.square-list{
    list-style-type: square;

}




/*Reservation form*/

.reservation-form > div{
    margin-bottom: 5px;
    vertical-align: text-top;
    
}

.reservation-form > div > div{
    width: 150px;
}
    
.reservation-form input{
    width: 500px;
    
}

.reservation-form input[type="submit"]{
    width: 100px;
    
}

.reservation-form textarea{
    width: 500px;
    heigh: 300px;
    
}


/*Sign in form*/

div.fader{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    
    z-index: 7;
    
}

div.sign-in{
    
    padding: 1% 5% 1% 5%;
    width: auto;

}

div.sign-in div{
    margin-bottom: 10px; 
    width: auto;
}

div.sign-in div{
    text-align: center;
    
}

div.sign-in input[type="text"], input[type="password"]{
    width: 200px;
}

.center {
    text-align: center;
}

.align-left {
    text-align: left;
}

#AboutUs  {
    background-color: cadetblue;
    color: white;
}

#AboutUs img {
    width: 350px;
}


/*Registration*/

.registration-panel{
    padding: 10px 50px 10px 50px;
    
}

.registration-panel h2{
    text-align: center;
    
    
}

.registration-panel > div{
    margin-bottom: 20px;    
}

.registration-panel input[type="text"], .registration-panel input[type="password"], .registration-panel input[type="email"], .registration-panel input[type="date"]{
    width: 800px;    
}

input.mediumform{
    width: 200px;
}

input.smallform{
    width: 100px;
}



/*Landing Page*/

.landingpage-item {
    margin-right: 0px;
    margin-left: 0px;
    padding: 20px 10px 20px 10px;
    text-align: center;
}

#welcome {
    background-color:darkslategray;
    color: white;
}

#packages {
    
}

.dropdown-item {
    margin: 2px 20px 2px 20px;
}

.dropdown-item a{
    color: black;
}

#packages-title {
    background-color: firebrick;
}

#customer-service {
    background-color:darkmagenta;
}

#customer-service {
    color: white;
}

#products .thumbnail{
    height:360px;
    width:260px;
    
}



