<!DOCTYPE HTML>

<html ng-app="">

<head>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/tabManager.js"></script>
    <!--<link href="css/navbar-fixed-top.css" rel="stylesheet">-->
    
    <link rel="stylesheet" href="css/bootstrap.min.css"/>    
    <link href="css/custom.css" rel="stylesheet">
    
</head>

<body>

    <div class="container mainPage panel" ng-controller="TabController">
        
    <ol class="breadcrumb">      
      <li class="active">Home</li>
    </ol>
        
        <div class="col-md-3">
            
            <div class="panel panel-default">
                <div class="panel-heading"><h3>About Us</h3></div>
                <div class="panel-body">
                <ul>
                    <li><a href="" ng-click="selectTab(1)">Company Profile</a></li>
                    <li><a href="" ng-click="selectTab(2)">Company Vision</a></li>
                    <li><a href="" ng-click="selectTab(3)">Award</a></li>
                </ul>
                    
                </div>
            </div>
                        
            
        </div>
        
        <div class="col-md-9">              

                  
          <div class="panel panel-default" ng-show="isSelected(1)">
            <div class="panel-body">
                <div class="page-header"><h1>Company Profile</h1></div>
                <p> Paris van Java Tour &amp; Travel is .....</p>
            </div>
          </div>

          <div class="panel panel-default" ng-show="isSelected(2)">
            <div class="panel-body">
                    <div class="page-header"><h1>Company Vision</h1></div>
                    <p> Paris van Java Tour &amp; Travel is a .....</p> 
                     
              </div>
          </div>

          <div class="panel panel-default" ng-show="isSelected(3)">
            <div class="panel-body">
                    <div class="page-header"><h1>Award</h1></div>
                  <ul>
                  <li><img src="" alt="no image">Award 1</li>
                  <li><img src="" alt="no image">Award 2</li>
                  <li><img src="" alt="no image">Award 3</li>
                  </ul>


              </div>
          </div>
                                   
        </div>
    
            
    
        
    </div>
    
</body>
    
</html>