<!DOCTYPE HTML>

<html ng-app="tourPackages">

<head>

<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/tourPackage.js"></script>
    <!--<link href="css/navbar-fixed-top.css" rel="stylesheet">-->
    
<link rel="stylesheet" href="css/bootstrap.min.css" />    
<link href="css/custom.css" rel="stylesheet">
    
</head>

<body ng-controller="PackageController">

    <div class="container" id="mainPage" style="padding-left:0px;border-left:0;">
        
    <ol class="breadcrumb">      
      <li class="active">Home</li>
    </ol>
        
          
    
    
    
        
            
            <div class = "landingpage-item" id="welcome">
                <h2>Welcome to Paris van Java Tour &amp; Travel Website</h2>
                <p> ..... </p>
                
                <button>More</button>
            
            </div>            
                   
                

            <div class="landingpage-item" id="packages">
              <div id="packages-title"><h3>Our Travel Packages</h3></div>
              <div class="panel-body">
                  

                  <div class="row">                    
                    <div class="col-sm-6 col-md-4" style="text-align:center" ng-repeat="product in viewProducts">
                        <div class="thumbnail">
                          <img src="..." alt="...">
                          <div class="caption">
                            <h3>{{product.name}}</h3>
                            <p>{{product.description}}</p>
                            <p><a href="" class="btn btn-default" role="button">Reserve</a></p>
                          </div>
                        </div>
                      </div>           

                </div>
                  
                  <nav style="text-align:center">
                  <ul class="pagination">
                    <li>
                      <a href="" aria-label="Previous" ng-click="previousPage()">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li>
                      <a href="" aria-label="Next" ng-click="nextPage()">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </div>    

        
        </div>
            
            <div class="landingpage-item" id="check-reservation">
                <div><h3>Check Your Reservation</h3></div>
                <div>
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Reservation Code</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Reservation code">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div> 
                
                <div class="landingpage-item" id="customer-service">
                <div><h3>Customer Service</h3></div>
                <div >
                    
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="#">
                          <img class="media-object" src="..." alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Customer Service 1</h4>
                        Active
                      </div>
                    </div>
                    
                    <div class="media">
                      <div class="media-left media-middle">
                        <a href="#">
                          <img class="media-object" src="..." alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">Customer Service 2</h4>
                        Not Active
                      </div>
                    </div>
                    
                </div>
            </div>
                


    
    </div>
    
</body>
    
</html>