<!DOCTYPE HTML>

<html ng-app="">

<head>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="tourPackage.js"></script>
    <!--<link href="css/navbar-fixed-top.css" rel="stylesheet">-->
    
    <link rel="stylesheet" href="css/bootstrap.min.css" />    
    <link href="css/custom.css" rel="stylesheet">
    
</head>

<body >
    
    <div class="container mainPage">
        
    <ol class="breadcrumb">      
      <li class="active">Home</li>
    </ol>
        
    <div class="panel sign-in">

                <form>
                    <div><h2>Sign In</h2></div>
                    <div>
                        <div style="display:inline-block">Username</div>
                        <input type="text" name="FirstName">                              
                    </div>
                    <div>
                        <div style="display:inline-block">Password</div>
                        <input type="password" name="LastName">                             
                    </div>


                    <div style='text-align:center'> <input type="submit" value="Sign In"> </div>                    

                </form>     
        
                <div><p>Don't have account? Register <a href="#/register">here</a></p></div>
        
    </div>
           
    </div>    

        


    
    
        
    

    
    
</body>
    
</html>