<!DOCTYPE HTML>

<html ng-app="">

<head>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="tourPackage.js"></script>
    <!--<link href="css/navbar-fixed-top.css" rel="stylesheet">-->
    
    <link rel="stylesheet" href="css/bootstrap.min.css" />    
    <link href="css/custom.css" rel="stylesheet">
    
</head>

<body >
    
    <div class="container mainPage">
        
    <ol class="breadcrumb">      
      <li class="active">Home</li>
    </ol>
        
    <div class="panel registration-panel">
        <div><h2>Registration Form</h2></div>
        <div>
            <form class="reservation-form">
                <div>
                    <div style="display:inline-block">First Name</div>
                    <input type="text" name="FirstName">                              
                </div>
                <div>
                    <div style="display:inline-block">Last Name</div>
                    <input type="text" name="LastName">                             
                </div>
                <div>
                    <div style="display:inline-block">Phone Number</div>
                    <input type="text" name="Phone">                           
                </div>
                <div>
                    <div style="display:inline-block">Email</div>
                    <input type="email" name="Email">                           
                </div>
                <div>
                    <div style="display:inline-block">Birthday</div>
                    <input type="date" name="Date">                           
                </div>
                <div>
                    <div style="display:inline-block">Captcha</div>
                    <input class="smallform" type="text" name="Captcha">                           
                </div>

                <div style='text-align:center'> <input type="submit" value="Register"> </div>
        </form> 
        
        </div>
        
                
        
    </div>
           
    </div>    

        


    
    
        
    

    
    
</body>
    
</html>