<!DOCTYPE HTML>

<html ng-app="">

<head>


<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="app.js"></script>
<script type="text/javascript" src="tourPackage.js"></script>
    <!--<link href="css/navbar-fixed-top.css" rel="stylesheet">-->
    
<link rel="stylesheet" href="css/bootstrap.min.css" />    
<link href="css/custom.css" rel="stylesheet">
    
</head>

<body >

    <div class="container mainPage panel">
        
        <ol class="breadcrumb">      
          <li class="active">Home</li>
        </ol>


        <div class="row">
            <div class="col-md-3">

                





            </div>
            <div class="col-md-9"s>
                <div class="panel panel-default">
                    <div class="panel-body package-detail">

                        <h2 id="description">Bandung Tour Package (6D5N)</h2>
                        <hr>
                        
                        <div class="package-header">
                            <div class="package-image">  
                                <img src="image/forest.jpg">                       
                            </div>

                            <div class="package-info">
                                <ul>
                                    <li>Tour Code: BTP6D5N</li>
                                    <li>Tour Type Available: 6 seater van &amp; 12 seater ELF</li>
                                    <li>Start in: Bandung</li>
                                    <li>Finish in: Bandung</li>
                                    <li>Price:</li>             
                                </ul>   
                                <div style="text-align:center">
                                    <b>6 seater van: <br>3.068.334 IDR/pax
(About 834 MYR/308 SGD/233 USD) 
                                        <br>12 Seater ELF<br> 3.136.667 IDR/pax
(About 315 MYR/315 SGD/238 USD)</b>
                                    
                                </div>
                                <div style="text-align:center">
                                    <button>Reserve Now</button>
                                </div>
                            </div>

                        </div>
                        

 


                        <div class="panel innerpanel package-description">
                            <h3 id="description">Tour Description</h3>
                            <hr>
                            <p>
                                Shopping in Bandung is quite an affair and there are many markets around the city to fulfill your shopping needs. Discover your 5Days 4 Nites in Bandung. Bandung is one of the best place in entire Indonesia to have inexpensive but quality food. Make sure that you have not missed on getting experience of the city life that goes on in Bandung before leaving.


                            </p></div>        


                        <div class="panel innerpanel">
                            <h3>Itinerary</h3>
                            <hr>
                            <ul class=square-list>
                                <li><img src="" alt="no image">Day1 - Arrival Bandung
    Meet our greet representative, Bandung city tour, Hotel Check-in.</li>
                                <li><img src="" alt="no image">Day2 - Bandung Volcano Tour and Shopping
    Visit Tangkuban Perahu, Cihideung Flower Village, Shopping in Bandung</li>
                                <li><img src="" alt="no image">Day3 - Shopping Day
Pasar Baru, Dago Factory Outlets, and Riau Factory Outlets.</li>
                                <li><img src="" alt="no image">Day4 - Bandung Tour and Art Culture
Paris van Java, Visit Saung Angklung Udjo Performance</li>
                                <li><img src="" alt="no image">Day5 - Bandung &amp; Theme Park Tour
Visit Trans Studio and Bandung Tour</li>
                                <li><img src="" alt="no image">Day6 - Departure from Bandung
Free tour, and departure at Bandung airport.</li>
                            </ul>                    
                        </div>

                        <div class="panel innerpanel">
                          <h3>Gallery</h3>
                          <hr>
                              <div class="floating-box">Pic Gallery</div>
                              <div class="floating-box">Pic Gallery</div>
                              <div class="floating-box">Pic Gallery</div>
                              <div class="floating-box">Pic Gallery</div>
                              <div class="floating-box">Pic Gallery</div>
                        </div>

                        <div class="panel innerpanel ">
                            <div class="reservation-form">
                                <h3 id="reservation">Reservation</h3>
                                <hr>

                                <form class="reservation-form">
                                    <div>
                                        <div style="display:inline-block">First Name</div>
                                        <input type="text" name="FirstName">                              
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Last Name</div>
                                        <input type="text" name="LastName">                             
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Phone Number</div>
                                        <input type="text" name="Phone">                           
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Email</div>
                                        <input type="email" name="Email">                           
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Number of Person</div>
                                        <input class="smallform" type="number" name="Email" value="0"> Adults
                                        <input class="smallform" type="number" name="Email" value="0"> Children 
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Date</div>
                                        <input type="date" name="Date">                           
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Special Inquiry</div>
                                        <textarea name="inquiry">    </textarea>                       
                                    </div>
                                    <div>
                                        <div style="display:inline-block">Captcha</div>
                                        <input class="smallform" type="text" name="Captcha">                           
                                    </div>
                                    
                                    <div style='text-align:center'> <input type="submit" value="Reserve"> </div>
                                    
                                    
                                        
                        

                                </form> 

                            </div>  


                        </div>     


    
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
</body>
    
</html>