body{
	background-color:#333333;
}

#carousel img{
	width: 100%;
	height: auto;
}

div#gallery {
	
	
}

#gallery img{
	height: 40px;

}

#gallery-thumbnail img{
	height: 500px;
	max-width: 90%;
}

#gallery-thumbnail {
	
	text-align: center;
}

div.package-list-item{
	margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 250px;
}

div.package-list-item img{

    width: 100%;
    height: 120px;
}

div.package-list-item div.caption{
	text-align: center;
}

div.package-list-item img{
	width:200px;
}

div#footer {
	background-color:#445588 ;
	color:#FFFFFF;
	padding: 20px 20px 20px 20px;
}

div.center{
	text-align:center;
}




